<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getAge()}">Name, age</p>
<p th:text="${person.getEmail()}">Email</p>
<p th:text="${person.getId()}">Id</p>

<p><a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a></p>

<p>
    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
        <input type="submit" value="Delete"/>
    </form>
</p>
</body>
</html>